
    
      <div class="icon-box">
          <div id="<%= dom_id post %>">
            <h5 class="title">Titulo:</h5>
            <p class="description">
              <%= post.title %>
            </p>
              <h5  class="title">Descripcion:</h5>
            <p class="description">
              <%= post.description %>
            </p>
            <%= link_to "Modificar", post, class: 'btn-get-started scrollto' %>
          </div>
      </div>  
    
  

